{% extends 'base.html' %}

{% block content %}
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
  <h1 class="page-header">Test Tools</h1>

  <div class="row placeholders">
    <div class="col-xs-6 col-sm-3 placeholder">
      <img src="/static/pandora/img/bugz.png" width="200" height="200" class="img-responsive" alt="bugzilla thumbnail">
      <a href="http://www.baidu.com"><h3>Bugzilla</h3></a>
      <span class="text-muted">Bug-tracking system</span>
    </div>
    <div class="col-xs-6 col-sm-3 placeholder">
      <img src="/static/pandora/img/bugz.png" width="200" height="200" class="img-rounded" alt="redmine thumbnail">
      <h4>Redmine</h4>
      <span class="text-muted">Flexible project management web application</span>
    </div>
    <div class="col-xs-6 col-sm-3 placeholder">
      <img src="/static/pandora/img/jenkins.png" width="200" height="200" class="img-responsive" alt="jenkins thumbnail">
      <h4>Jenkins</h4>
      <span class="text-muted">Automation server</span>
    </div>
    <div class="col-xs-6 col-sm-3 placeholder">
      <img src="/static/pandora/img/sonarqube.png" width="200" height="200" class="img-responsive" alt="sonarqube thumbnail">
      <h4>Sonarqube</h4>
      <span class="text-muted">Quality management platform</span>
    </div>
  </div>
</div>
{% endblock %}