{% extends 'base.html' %}

{% block content %}
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
  <h1 class="page-header">Test Tools</h1>

  <div class="row placeholders">
    <div class="col-xs-6 col-sm-3 placeholder">
      <a href="http://192.168.1.120" target="_blank"><img src="/static/pandora/img/tool/bugz.png" width="200" height="200" class="img-responsive" alt="bugzilla thumbnail"></a>
      <a href="http://192.168.1.120" target="_blank"><h4>Bugzilla</h4></a>
      <span class="text-muted">Bug-tracking system</span>
    </div>
    <div class="col-xs-6 col-sm-3 placeholder">
      <a href="http://192.168.1.120" target="_blank"><img src="/static/pandora/img/tool/redmine.png" width="200" height="200" class="img-rounded" alt="redmine thumbnail"></a>
      <a href="http://192.168.1.120" target="_blank"><h4>Redmine</h4></a>
      <span class="text-muted">Flexible project management web application</span>
    </div>
    <div class="col-xs-6 col-sm-3 placeholder">
      <a href="http://192.168.1.145:8080" target="_blank"><img src="/static/pandora/img/tool/jenkins.png" width="200" height="200" class="img-responsive" alt="jenkins thumbnail"></a>
      <a href="http://192.168.1.145:8080" target="_blank"><h4>Jenkins</h4></a>
      <span class="text-muted">Automation server</span>
    </div>
    <div class="col-xs-6 col-sm-3 placeholder">
      <a href="http://192.168.1.145:9000" target="_blank"><img src="/static/pandora/img/tool/sonarqube.png" width="200" height="200" class="img-responsive" alt="sonarqube thumbnail"></a>
      <a href="http://192.168.1.145:9000" target="_blank"><h4>Sonarqube</h4></a>
      <span class="text-muted">Quality management platform</span>
    </div>
  </div>
  <h2 class="sub-header">Tool List</h2>
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Name</th>
            <th>Type</th>
            <th>Link</th>
            <th>Desc</th>
            <th>Number of clicks</th>
          </tr>
        </thead>
        <tbody>
          <tr>
          {% for i in toollist %}
            <tr>
              <td><a href={{ i.tool_url }} target="_blank">{{ i.tool_name }}</a></td>
              {% for j in i.tool_group.all %}
                <td>{{ j.group_name }}</td>
              {% endfor %}
              <td>{{ i.tool_url }}</td>
              <td>{{ i.tool_desc }}</td>
              <td>{{ i.tool_heat }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
</div>
{% endblock %}